<!DOCTYPE html>
<html>
<head>
  <title>LastCastings </title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>


<div class="navbar navbar-inverse navbar-fixed-top">


 <div align="center">

 <h3 > Last Castings</h3>
   
 </div>


</div>

<div class="navbar navbar-inverse navbar-fixed-bottom">
<body>


		<div align="center" class="container">
	    


       <!--   // Lista de opciones, en el navbar, horizontales. // -->

       <!--   // Profile  // -->

       <% if member_signed_in? %>
          <ul class="nav nav-pills" role="tablist">
              <li role="presentation" class="active"><a href="<%= timeline_path %> ">Castings <span class="badge">42</span></a></li>
  
              <li role="presentation"><a href="#">Messages <span class="badge">3</span></a></li>
         


       			<li   class="nav nav-pills " role="tablist">
             <%= link_to current_member.name_all,  '/model/profile' %></li>
            
                  <!--   // Exit // -->

       				<li><%= link_to 'Settings', salir_path %></li>


              <li><%= link_to 'Exit', salir_path %></li>

              </ul>
                    <!--   // Sign Up // -->

       			<% else %>


<ul class="nav navbar-nav pull-right">
      <ul class="nav nav-pills" role="tablist">
       				<li><%= link_to 'Sign Up',   registro_path %></li>


                        <!--   // Sign in // -->

       				<li><%= link_to 'Sign In', ingreso_path %></li>
            </ul>
</ul>


       			<% end %>
       		</ul>
		</div>

</div>



<div class="container">

    <!--   // MENSAJES DE LA PAGINA (alertas y notices) // -->


   <% flash.each do |type, message|%>
   <div class="alert <%= flash_class type %> alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">x</button>
        <%= message %>

   </div>

   <% end %>




    <!--   // CONTENIDO, DENTRO DE LA CLASE CSS CONTAINER// -->
          <%= yield %>

</div>




</body>
</html>
