<!DOCTYPE html>
<html>
<head>
  <title>AGENCIAPP</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
	     <%= link_to 'AGENCIAPP', root_path , :class => "navbar-brand" %>


       <!--   // Lista de opciones, en el navbar, horizontales. // -->

       <!--   // Profile  // -->

       <% if model_signed_in? %>
          <ul class="nav nav-pills" role="tablist">
              <li role="presentation" class="active"><a href="<%= timeline_path %> ">Home <span class="badge">42</span></a></li>
  
              <li role="presentation"><a href="#">Messages <span class="badge">3</span></a></li>
          </ul>


      <ul class="nav navbar-nav pull-right">
       			<ul class="nav nav-pills" role="tablist">
              <li role="presentation"><%= link_to current_model.name_all,  edit_model_registration_path %></li>
            
                  <!--   // Exit // -->

       				<li><%= link_to 'Cerrar Sesion', salir_path %></li>

              </ul>
                    <!--   // Sign Up // -->

       			<% else %>


<ul class="nav navbar-nav pull-right">
      <ul class="nav nav-pills" role="tablist">
       				<li><%= link_to 'Registro',   registro_path %></li>


                        <!--   // Sign in // -->

       				<li><%= link_to 'Inicio de sesion', ingreso_path %></li>
            </ul>
</ul>


       			<% end %>
       		</ul>
		</div>

</div>



<div class="container">

    <!--   // MENSAJES DE LA PAGINA (alertas y notices) // -->


   <% flash.each do |type, message|%>
   <div class="alert <%= flash_class type %> alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">x</button>
        <%= message %>

   </div>

   <% end %>




    <!--   // CONTENIDO, DENTRO DE LA CLASE CSS CONTAINER// -->
          <%= yield %>

</div>




</body>
</html>
