<p id="notice"><%= notice %></p>

<p>
  <strong>Member type:</strong>
  <%= @member.member_type %>
</p>

<p>
  <strong>Name:</strong>
  <%= @member.name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @member.last_name %>
</p>

<p>
  <strong>Diplay name:</strong>
  <%= @member.diplay_name %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @member.phone %>
</p>

<p>
  <strong>Date of birth:</strong>
  <%= @member.date_of_birth %>
</p>

<p>
  <strong>City:</strong>
  <%= @member.city %>
</p>

<p>
  <strong>About:</strong>
  <%= @member.about %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @member.gender %>
</p>

<p>
  <strong>Ethnicity:</strong>
  <%= @member.ethnicity_id %>
</p>

<p>
  <strong>Categories:</strong>
  <%= @member.categories_id %>
</p>

<p>
  <strong>Hair:</strong>
  <%= @member.hair_id %>
</p>

<p>
  <strong>Eyes:</strong>
  <%= @member.eyes_id %>
</p>

<p>
  <strong>Heigth:</strong>
  <%= @member.heigth %>
</p>

<p>
  <strong>Bust:</strong>
  <%= @member.bust %>
</p>

<p>
  <strong>Waist:</strong>
  <%= @member.waist %>
</p>

<p>
  <strong>Hips:</strong>
  <%= @member.hips %>
</p>

<p>
  <strong>Shoes:</strong>
  <%= @member.shoes %>
</p>

<p>
  <strong>Disciplines:</strong>
  <%= @member.disciplines_id %>
</p>

<p>
  <strong>Email:</strong>
  <%= @member.email %>
</p>

<%= link_to 'Edit', edit_member_path(@member) %> |
<%= link_to 'Back', members_path %>
